fastapi
uvicorn
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters
langchain-openai
faiss-cpu
mlflow
evidently
python-dotenv
streamlit
pytest
httpx
groq
pypdf
tiktoken
sentence-transformers
plotly
pandas
reportlab
requests
Pillow